<h1>My special index!!</h1>


<p>Sit dignissimos laborum dolorem quasi porro. Rerum libero nisi aut quibusdam consequatur, maiores temporibus minima quisquam laborum perspiciatis odio accusantium. Doloremque quae similique dignissimos non corporis mollitia! Voluptatum dignissimos culpa.</p>

<p>Sit dignissimos laborum dolorem quasi porro. Rerum libero nisi aut quibusdam consequatur, maiores temporibus minima quisquam laborum perspiciatis odio accusantium. Doloremque quae similique dignissimos non corporis mollitia! Voluptatum dignissimos culpa.</p>

<%= image_tag 'remember_me.gif' %>

<p>Sit dignissimos laborum dolorem quasi porro. Rerum libero nisi aut quibusdam consequatur, maiores temporibus minima quisquam laborum perspiciatis odio accusantium. Doloremque quae similique dignissimos non corporis mollitia! Voluptatum dignissimos culpa.</p>
